.header {
  background-color: #ddd;
  display: flex;
  min-height: 10vh;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: "Micro 5 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title h1 {
  font-size: 4.5rem;
  padding: 0.5rem 0;
}

.logo {
  padding-left: 2rem;
}

#ipod {
  height: 3rem;
}

.logout {
  padding-right: 2rem;
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column; /* Set flex direction to column for small screens */
    height: 20vh;
  }
  .logo {
    padding-left: 0;
    padding-top: 1rem;
  }
  .logout {
    padding-right: 0;
    padding-bottom: 1rem;
  }
}
